body{
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
}

#heading{
    font-size: 50px;
}

.image{
    font-size: 40px;
    width: 200px;
    height: 70px;
}